@import "bootstrap/custom-bootstrap-theme.css";
@import "vendor/card.css";
@import "vendor/card-types.css";
@import "vendor/custom-select.css";
@import "helpers/helpers";
@import "helpers/media-query";
@import "layout/header";
@import "layout/footer";
@import "layout/page";
@import "components/payment_form";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  text-align: left;
}