.payment_form {
  .error_list {
    padding: 0;
    list-style: none;
    color: $color-gray;
    font-size: 77%;

    .glyphicon {
      font-size: 16px;
      vertical-align: middle;
    }
  }

  .alert_panel {
    padding-left: 0;
    border-bottom: 1px solid $color-gray_clear;

    &__title {
      color: $color-secondary;
      font-weight: bold;
      margin-top: 28px;
      margin-bottom: 20px;
      font-size: 2.63rem;
    }

    &__text {
      font-size: 77%;
      line-height: 1.67;
    }
  }

  .fieldset {
    margin: 25px 0;

    .form-row {
      margin-bottom: 0;

      @include tablet-landscape-and-up {
        display: flex;
        align-items: center;
      }
    }

    &_group {
      &__title {
        font-size: 2.63rem;
        font-weight: bold;
        margin-bottom: 40px;
      }
    }

    &__legend {
      font-size: 17px;
      font-weight: bold;
      color: #000;
    }

    .control-label {
      float: left;
      padding-right: 9px;
      white-space: nowrap;
    }

    .pleft0 {
      @include tablet-landscape-and-up {
        padding-left: 0;
      }
    }

    .form-group {
      @include tablet-landscape-and-up {
        display: flex;
        align-items: center;
      }
    }

    &__fluid {
      .form-control-feedback {
        margin: 5px;

        @include tablet-portrait-and-below {
          margin: 20px 5px 5px 5px;
        }
      }
    }

    &__aligner {
      display: block;
      padding: 5px;
      width: 100%;

      .form-control {
        width: 100%;
      }
    }
  }

  .address_kind {
    .address_kind_choice {
      margin-bottom: 10px;
    }
  }

  .address_zip {
    .idont_know_zip {
      color: $color-gray;
      font-size: 1.25rem;
      text-decoration: underline;
    }
  }

  .amount {
    margin-bottom: 50px;
  }

  .form_buttons {
    .btn-return {
      position: relative;

      @include tablet-portrait-and-below {
        padding-left: 44px !important;
      }
      @include tablet-portrait-and-up {
        min-width: 140px;
      }

      .glyphicon {
        position: absolute;
        left: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
  .credit-card-wrapper{
    margin-bottom: 34px;

    @include tablet-portrait-and-below {
      > div > div {
        width: 100%;
        min-width: auto;
      }
    }
  }
}
